Source: python-django-openid-auth
Maintainer: Elliot Murphy <elliot@caonical.com>
Uploaders: James Henstridge <jamesh@canonical.com>
Section: python
Priority: optional
Standards-Version: 3.8.0
Build-Depends-Indep:
    python-central (>= 0.6.7)
Build-Depends:
    cdbs (>= 0.4.51),
    debhelper (>= 6.0.4),
    python (>= 2.5)
XS-Python-Version: all
Homepage: https://launchpad.net/django-openid-auth

Package: python-django-openid-auth
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends},
    ${misc:Depends},
    python-pkg-resources
Provides: ${python:Provides}
Description: OpenID integration for django.contrib.auth
 A library that can be used to add OpenID support to Django applications.
 The library integrates with Django's builtin authentication system, so
 most applications require minimal changes to support OpenID login.
  The library also includes the following features:
  * Basic user details are transfered from the OpenID server via the Simple Registration extension.
  * can be configured to use a fixed OpenID server URL, for use in single sign on deployments.
  * supports the Launchpad teams extension to request team membership information.
